* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-color: rgb(16, 16, 31);
  color: #fff;
}
.container {
  width: 50%;
  height: auto;
  border: 1px solid rgb(75, 250, 250);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.numbers {
  width: auto;
  height: 50%;
  justify-content: space-between;
  padding: 3%;
  position: relative;
  margin-top: 3%;
}
.line {
  height: 5px;
  /* width: 95%; */
  /* background-color: rgba(49, 49, 80, 0.938); */
  position: absolute;
  background-color: greenyellow;
  left: 10px;
  z-index: 111;
}

.number {
  position: absolute;
  display: inline-flex;
  width: 1.4rem;
  border-radius: 50%;
  border: 2px solid rgba(49, 49, 80, 0.938);
  top: 0;
  z-index: 222;
  background-color: rgb(16, 16, 31);
  margin-top: 1%;
}

.one {
  left: 1%;
  border: 2px solid greenyellow;
}
.two {
  left: 26%;
}
.three {
  right: 46%;
}
.four {
  right: 21%;
}
.five {
  top: 2%;
  right: 0%;
}
.btn_cont {
  justify-content: space-between;
}
.btn {
  font-size: 0.9rem;
  width: 20%;
  margin: 4%;
  margin-top: 15%;
  height: 33px;
  background: none;
  color: #fff;
  border: 1px solid rgb(75, 250, 250);
  border-radius: 5px;
  cursor: pointer;
}
.btn:disabled {
  background-color: rgba(8, 245, 245, 0.082);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: rgba(8, 245, 245, 0.082);
}

.btn:hover {
  background-color: rgb(75, 250, 250);
  color: #000;
}
.color_move {
  animation: move 0.5s ease forward;
}
.line_animation {
  animation: move 2s ease forwards;
}
.number_animation {
  animation: line_move 0.3s ease-in-out forwards;
}
@keyframes move {
  100% {
    background-color: greenyellow;
  }
}
@keyframes line_move {
  100% {
    border-color: greenyellow;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }

  .two {
    left: 22%;
  }
  .btn {
    width: 40%;
  }
}
