* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  font-size: 10px;
  background: #000;
}
.container {
  width: 62%;
  height: 15%;
  padding: 3%;
  overflow: hidden;
  scrollbar-width: 0;
  position: relative;
  border-radius: 10%;
  /* border: 1px solid #fff; */
}
.links {
  padding: 2%;
  position: absolute;
  inset: 0;

  border-radius: 19%;
  width: 90%;
  justify-content: space-around;
  transition: all 1s ease-in-out;
}

.link {
  width: 5rem;
  height: 4rem;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
button {
  position: absolute;
  right: 0%;
  width: 5rem;
  height: 5rem;
  /* border-radius: 50%; */
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: rgb(46 184 0);
  color: #fff;
}

.spin {
  animation: spin 1s linear;
}
/* button:hover {
} */
.open_btn {
  display: block;
}

.close_btn {
  font-size: 3rem;

  background-color: rgb(21, 194, 21);
}
.hide {
  display: none;
}
.close_btn span {
  position: absolute;
  top: 10px;
  right: 35px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(80deg);
  }
  30% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(200deg);
  }
  60% {
    transform: rotate(260deg);
  }
  70% {
    transform: rotate(320deg);
  }
  80% {
    transform: rotate(380deg);
  }
  90% {
    transform: rotate(400deg);
  }
  100% {
    transform: rotate(460deg);
  }
}
@media (max-width: 500px) {
  .link {
    width: 3rem;
    height: 3rem;
  }
  .links {
    justify-content: center;
    gap: 2%;
  }
  .container {
    width: 90%;
  }
  button {
    width: 4rem;
    height: 4rem;
  }
}
