* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
}
.container {
  width: 60%;
  height: 60%;
  background-color: rgb(49, 49, 56);
  padding: 1%;
  position: relative;
}
img {
  width: 310px;
  height: 160px;
  border: 1px solid rgb(49, 49, 56);
}
.sub_img {
  width: 30%;
  height: 40%;
  margin: 1%;
  transition: all 1s ease;
  /* position: absolute; */
}
.display_img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(49, 49, 56);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.display_img.active {
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
.display_img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}
.sub_img:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

@media (max-width: 500px) {
  .container {
    width: 96%;
    height: auto;
  }
  .sub_img {
    width: 24%;
  }

  .display_img img {
    height: 60%;
    width: 190%;
  }
}
