* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
}
.container {
  width: 60%;
  height: 60%;
  background-color: rgb(49, 49, 56);
  padding: 1%;
  position: relative;
}
img {
  width: 310px;
  height: 160px;
  border: 1px solid #fff;
}
.sub_img {
  width: 30%;
  height: 40%;
  margin: 1%;
  transition: all 1s ease;
  /* position: absolute; */
}
/* .sub_img:hover {
  transform: scale3d(2, 2, 2);

  z-index: 1;
  margin: -150px;
  backdrop-filter: 1;
}
.spe_1:hover {
  margin-left: 100px;
}
.spe_2:hover {
  margin-right: 100px;
} */
@media (max-width: 500px) {
  .container {
    width: 96%;
    height: auto;
  }
  .sub_img {
    width: 24%;
  }
}
