:root {
  --background-color: #ffdcdcbb;
  --dark-back-color: #1b1717c2;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  background-color: rgb(27, 25, 25);
}
.dark {
  background-color: var(--dark-back-color) !important;
  box-shadow: 0px 0px 3px 0px #ffffff30;
}
.container {
  background-color: var(--background-color);
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
input {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  border: none;
}
.main {
  background-color: rgb(27, 25, 25);
  width: 27%;
  height: 10%;
  position: relative;
  border-radius: 10%;
}
.main::before {
  content: "";
  background-color: #c4b108;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 5px;
  z-index: 0;
}
.main::after {
  content: "";
  border-radius: 50%;
  background-color: #fcfff4;
  position: absolute;
  right: 10px;
  top: 2px;
  z-index: 0;
  width: 20px;
  height: 20px;

  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.moon_inside {
  content: "";
  border-radius: 50%;
  background-color: rgb(27, 25, 25);
  position: absolute;
  right: 0px;
  top: 2px;
  z-index: 1;
  width: 20px;
  height: 20px;

  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.main input[type="checkbox"]:checked + label {
  left: 110px;
}
#light[type="checkbox"] {
  visibility: hidden;
}
.main label {
  display: block;
  position: absolute;
  top: 1px;
  left: 3px;
  cursor: pointer;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  width: 25px;
  height: 25px;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 500px) {
  .container {
    width: 80%;
    height: 33%;
  }
  .main input[type="checkbox"]:checked + label {
    left: 55px;
  }
}
