* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;

  align-items: center;
}
body {
  height: 100vh;
  flex-direction: column;
  background-color: rgb(19, 18, 18);
  color: #fff;
  font-size: 10px;
  padding: 3%;
}
.container {
  flex-direction: column;
  width: 60%;
  height: auto;
}
.head {
  margin-bottom: 4%;
  font-size: 2rem;
}
.boxes {
  width: 100%;
  height: auto;
  flex-direction: column;
}
.box {
  flex-direction: column;
  text-align: left;
  width: 60%;
  padding: 5%;
  height: auto;
  background-color: rgb(30, 73, 19);
  margin: 5%;
}
.box_head {
  font-size: 1.2rem;
  margin-bottom: 2%;
}
.date {
  font-size: 1rem;
  color: #ffffff59;
  margin-bottom: 2%;
}
.box_body {
  font-size: 1rem;
}
.loading {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(150, 25, 87);
  border-radius: 50%;
  margin: 10px auto 7px auto;
  animation: rot 1s linear infinite;
  display: none;
}
@keyframes rot {
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
@media (max-width: 500px) {
  .container {
    width: 80%;
  }
  .box {
    width: 90%;
  }
}
