* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000de;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2%;

  height: 30%;
}
.box {
  position: relative;
  background-image: url(Earth_svg.jfif);
  width: 11rem;
  height: 10rem;
  background-size: 200%;
  border-radius: 50%;
  transition: transform 100ms linear;
  animation: turn 7s infinite linear;
  box-shadow: inset -6px -1px 9px 0px #000000cc;
  transform-style: preserve-3d;
}
/* .box:hover {
  animation-delay: 2s;
} */
.box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.1;
  background: radial-gradient(circle at 10rem 10rem, #ffffff8f, #000000da);
  border-radius: 50%;
}

.head {
  color: #fff;
  font-family: sans-serif;
}
.text_moved {
  font-family: cursive;
  opacity: 0;
}
.beautifull {
  color: red;
}
.incridible {
  color: rebeccapurple;
}
.fantastic {
  color: gold;
}
.amazing {
  color: pink;
}
.letter {
  float: left;
  transform-origin: 50% 50% 20px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.58s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes turn {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}
@media (max-width: 500px) {
  .container {
    height: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
