* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.774);
}
.container {
  width: 40%;
  height: auto;
  border: 1px solid rgb(19, 182, 247);
  flex-direction: column;
  padding: 3%;
}
.bill {
  width: 80%;
  height: 220px;
  position: relative;
}
.counter {
  position: absolute;
  top: 14%;
  right: 9%;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 50%;
  background-color: rgb(19, 182, 247);
}
.clock {
  width: 57%;
  height: 150px;
  background: none;
}

.transition {
  animation: shake 0.6s ease-in-out forwards;
  transform-origin: center top;
}
.btn {
  font-size: 20px;
  padding: 3% 3.5%;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: rgb(19, 182, 247);
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(-35deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .container {
    width: 80%;
  }
}
