* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(1, 1, 20);
  font-size: 10px;
}
.container {
  background-color: rgb(1, 1, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
  height: 35%;
  color: #ffff;
  position: relative;
  box-shadow: 0 25px 40px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}
.container::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 130%;
  background-color: rgb(65, 78, 253);
  z-index: -1;
  border-radius: 5px;
}
.number {
  font-size: 3rem;
}
.btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  padding: 1% 10%;
  font-size: 1.6rem;
  background-color: rgb(65, 78, 253);
  color: #ffff;
  border: none;
  border-radius: 5px;
}
.restart {
  background: none;
  box-shadow: inset 0px 0px 0px 2px rgb(65, 78, 253);
}
