* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-image: url(background_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  border-radius: 20%;
  width: 100px;
  height: 100px;
}
.container {
  width: 80%;

  /* width: 100vh; */
  height: auto;
  flex-direction: column;
}
.main_form {
  margin-bottom: 30px;
  width: 100%;
}
.main_form div {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
#search {
  background-color: #0000006b;
  border: 0.8px solid #0000006b;
  width: 100%;
  height: 30px;
}
#search:focus {
  outline: 1px solid #000;
}
.submit {
  position: absolute;
  right: 0;
  margin: 2%;
  background: none;
  border: none;
  font-size: 1.5rem;

  /* color: #b8a2404b; */
  cursor: pointer;
  filter: grayscale(1);
  opacity: 0.5;
}
.submit:hover {
  opacity: 1;
}
.display {
  backdrop-filter: blur(10px);

  box-shadow: 1px 1px 20px 9px #0000006b;
  padding: 2% 3%;
  gap: 3%;
  width: 100vh;
  justify-content: flex-start;
}
.display_text-box {
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.display_text-box p {
  margin: 4%;
  /* color: #000000b0; */
  color: #ffffff79;
}
.name {
  color: #ffffffcb !important;
}
.date {
  opacity: 0.7;
}
@media (max-width: 500px) {
  .display {
    width: 40vh;
  }
  img {
    height: 80px;
  }
}
