* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-image: url(background_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  /* Clean then  */
  width: 100px;
  height: 100px;
}
.container {
  width: 80%;
  height: auto;
  flex-direction: column;
}
form {
  margin-bottom: 30px;
}
