* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  background-color: springgreen;
}
.container {
  flex-direction: column;
  width: 50%;
  height: auto;
  background-color: black;
  border-radius: 10px;
}
.head_guide {
  color: springgreen;
  font-size: 2rem;
}
#text_box {
  width: 60%;
  height: 30%;
  padding: 2%;
  margin-top: 5%;
  font-size: 1rem;
  text-wrap: wrap;
  margin-bottom: 5%;
}
#text_box:focus {
  outline: none;
}
.options_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}
.option {
  font-size: 0.9rem;
  background-color: springgreen;
  margin: 2%;

  height: 30px;
  width: 80px;
  justify-content: space-around;
  position: relative;
}
.close {
  position: absolute;
  top: -3px;
  right: 0;
  background: none;
  border: none;
  font-weight: 900;
  /* justify-self: flex-start; */
  opacity: 0.7;
  cursor: pointer;
  margin: 1%;
}
.close:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
  #text_box {
    width: 80%;
  }
}
