* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
button {
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  flex-direction: column;
  background-color: rgba(243, 216, 198, 0.521);
  width: 50%;
  height: 50%;
  box-shadow: 2px 3px 8px 0px #000;
}
.part_one {
  width: 70%;
  height: 20%;
}
.captha_image {
  border: 1px dashed #000;
  width: 50%;
  height: 66%;
  font-size: 2rem;
  text-align: center;
}
button {
  background-color: rgb(165, 87, 238);
  border: none;
  color: #fff;
  border-radius: 10px;
}
button:hover {
  transform: scale(1.1);
}
.reload {
  margin-left: 3%;
  font-size: 2rem;
  padding: 1% 4%;
}
.text {
  width: 78%;
  height: 12%;
  margin: 2%;
  border: 1px dashed black;
  padding: 2%;
}
.text:active {
  outline: none;
}
.submit {
  padding: 2% 13%;
  font-size: 18px;
}
