* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: rgb(24, 24, 27);
}
.container {
  box-shadow: 1px 1px 7px 0px rgb(0, 128, 0);
  width: 40%;
  height: 10%;
  font-size: 210%;
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-weight: 700;
}
.num {
  color: rgb(0, 128, 0);
}
@media (max-width: 500px) {
  .container {
    font-size: 100%;
    width: 50%;
  }
}
