* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.849);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.container {
  flex-direction: column;
  width: 50%;
  height: 50%;
  position: relative;
}
.main_boxes {
  width: 100%;
  height: 20%;
  justify-content: space-around;
}
.btn {
  width: 4rem;
  font-size: 1rem;
  padding: 2%;
  background: none;
  border: none;
  color: #fff;
  border-radius: 8%;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 2px 2px 5px 0px #5c5656;
}
.all_btn {
  background-image: linear-gradient(
    90deg,
    #f44336 0%,
    #e05039 3%,
    #4caf50 32%,
    #37a080 59%,
    #2290b0 67%,
    #1285d5 79%,
    #0e82de 94%,
    #0078ff 100%
  );
}
.red_btn,
.red_box {
  background-color: red;
}
.green_btn,
.green_box {
  background-color: green;
}
.blue_btn,
.blue_box {
  background-color: blue;
}
.red_box {
  display: none;
}
.green_box {
  display: none;
}
.blue_box {
  display: none;
}
.boxes {
  width: auto;
  height: 70%;
  gap: 5%;
  margin-top: 5%;
  flex-wrap: wrap;
}
.boxes span {
  width: 8rem;
  height: 3.2rem;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
